html, body {
    margin: 0;
    padding: 0;
}

#grid {
    margin: 0;
    height: 100vh;
}

    #grid > * {
        padding: 0;
    }

#footer {
    height: 2em;
    background: #59166f;
    color: white;
    vertical-align: middle;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.debugger #footer {
    background-color: #a7691c;
}

body.solver #footer {
    background-color: green;
}

body.proof-tree #footer {
    background-color: black;
}

#comment {
    width: calc(100% - 6em);
}

#coords {
    width: 6em;
}

.workspace {
    padding-left: 10pt;
}

.tsumego {
    cursor: pointer;
}

    .tsumego svg {
        user-select: none;
        width: calc(100vw - 19em);
        height: calc(100vw - 19em);
        max-height: calc(100vh - 6em);
        max-width: calc(100vh - 6em);
    }

    .vertical .tsumego svg {
        width: calc(100vw - 6em);
        height: calc(100vw - 6em);
    }

.workspace pre {
    height: calc(100vh - 7em);
    width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: normal;
    font-family: "Lucida Console";
    display: inline-block;
    border: none;
    vertical-align: top;
}

    .workspace pre:focus {
        outline: none;
    }

#directory-container {
    height: calc(100% - 2em);
    width: 15em;
}

.vertical #directory-container {
    display: none;
}

#goban-area {
    height: calc(100% - 2em);
    width: calc(100% - 18.6em);
    padding: 0 2pt;
}

.vertical #goban-area {
    width: calc(100% - 3.6em);
}

#right-panel {
    background: rgb(224, 225, 226);
    height: calc(100% - 2em);
    width: 3.6em;
}

    #right-panel > * {
        margin-bottom: 2em;
    }

#tutorial-hint {
    position: fixed;
    right: 0;
    top: 0;
}

#semantic-ui-ref {
    position: fixed;
    right: 0;
    bottom: 0;
}

#directory {
    padding: 0;
}

    #directory > .input {
        padding: 1em;
        width: 100%;
    }

    #directory > .menu {
        height: calc(100vh - 5em);
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

        #directory > .menu > .item > .undo {
            display: none;
        }

        #directory > .menu > .item:not(.hard) > .star {
            display: none;
        }

        #directory > .menu > .item > .star {
            color: gold;
            cursor: default;
        }

        #directory > .menu > .item.deleted > .close {
            display: none;
        }

        #directory > .menu > .item.deleted > .undo {
            display: inherit;
        }

        #directory > .menu > .item > .close:hover {
            color: red;
        }

        #directory > .menu > .item > .undo:hover {
            color: green;
        }

#dbg-panel {
    display: none;
}

body.debugger #dbg-panel {
    display: inherit;
}

body.debugger #solver-panel {
    display: none;
}

body.proof-tree #solver-panel {
    display: none;
}

body.debugger #tool {
    display: none;
}

body.proof-tree #tool {
    display: none;
}

body.proof-tree #km {
    display: none;
}
