.tree div {
    display: none;
}

    .tree div > div {
        margin-left: 10pt;
    }

    .tree div::before {
        content: attr(starts) " to play, " attr(winner) "+" attr(move);
        font: 10pt Consolas;
    }

    .tree div.expanded {
        display: inherit;
    }

        .tree div.expanded > div {
            display: inherit;
        }

.tree pre {
    display: table-cell;
    margin: 0;
    line-height: 0;
    background-image: linear-gradient(black 1px, transparent 1px),linear-gradient(90deg, black 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px;
    background-position: 10px 10px, 10px 10px;
}

    .tree pre * {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        margin: 0.5px;
        display: inline-block;
    }

    .tree pre b {
        background: black;
        border: 1px solid black;
    }

    .tree pre i {
        background: white;
        border: 1px solid black;
    }

    .tree pre u {
        background: transparent;
        border: 1px solid transparent;
    }
