body {
    margin: 0;
    padding: 0;
}

table {
    margin: 0;
    padding: 0;
}

td {
    vertical-align: top;
    text-align: left;
}

body > table {
    width: 100%;
    height: 100%;
}

.directory {
    width: 150pt;
    padding-right: 10pt;
    border-right: 1px solid black;
}

    .directory .header {
        font-size: 1.5em;
        font-weight: bold;
    }

    .directory a.entry {
        display: block;
        cursor: pointer;
        text-decoration: inherit;
        color: inherit;
    }

        .directory a.entry.selected {
            background-color: lightgoldenrodyellow;
        }

        .directory a.entry:hover {
            background-color: lightgreen;
        }

.workspace {
    padding-left: 10pt;
}

.tsumego {
    cursor: pointer;
}

.tsumego, .tsumego-preview {
    display: inline-block;
}

.tsumego-sgf {
    width: 300pt;
    height: 80pt;
    display: inline-block;
    border: 1px solid black;
    padding: 5pt;
    margin-left: 5pt;
    vertical-align: top;
}

.tsumego-comment {
    display: inline-block;
    margin: 5pt;
    padding: 5pt;
}

.tsumego-options {
    display: inline-block;
    border: 1px solid black;
    margin: 5pt;
    padding: 3pt;
}

    .tsumego-options span {
        display: block;
    }
