.tsumego {
    cursor: pointer;
}

.tsumego, .tsumego-preview {
    display: inline-block;
}

.tsumego-preview {
    width: 100pt;
    margin: 4pt;
    padding: 6pt;
    vertical-align: top;
}

    .tsumego-preview:hover {
        outline: 1px solid black;
    }

h3 {
    font-family: "Segoe UI";
}

#search-tree {
    border: 1px solid black;
    font: 10pt "Lucida Console";
}

    #search-tree div {
        margin-bottom: 1px;
    }

        #search-tree div > div {
            margin-left: 10pt;
        }

    #search-tree span {
        display: block;
    }

    #search-tree div.current > span {
        background-color: palegreen;
    }

    #search-tree div.collapsed > div {
        display: none;
    }

    #search-tree div.collapsed > span {
        background-color: darkkhaki;
    }

    #search-tree div:hover > span {
        background-color: palegoldenrod;
    }

.tsumego-sgf {
    width: 300pt;
    height: 80pt;
    display: inline-block;
    border: 1px solid black;
    padding: 5pt;
    margin-left: 5pt;
    vertical-align: top;
}

.tsumego-comment {
    display: inline-block;
    margin: 5pt;
    padding: 5pt;
}

.tsumego-options {
    display: inline-block;
    border: 1px solid black;
    margin: 5pt;
    padding: 3pt;
}

    .tsumego-options span {
        display: block;
    }
