html, body {
    margin: 0;
    padding: 0;
}

#grid {
    margin: 0;
    height: 100vh;
}

    #grid > * {
        padding: 0;
    }

#footer {
    height: 2em;
    background: #59166f;
    color: white;
    vertical-align: middle;
    line-height: 2em;
}

#comment {
    width: calc(100% - 6em);
}

#coords {
    width: 6em;
}

.workspace {
    padding-left: 10pt;
}

.tsumego {
    cursor: pointer;
}

.tsumego svg {
    max-height: calc(100vh - 8em);
}

.workspace pre {
    height: 200pt;
    width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: normal;
    font-family: "Lucida Console";
    display: inline-block;
    border: none;
    vertical-align: top;
}

#tutorial-hint {
    position: fixed;
    right: 0;
    top: 0;
}

#semantic-ui-ref {
    position: fixed;
    right: 0;
    bottom: 0;
}

.directory .list {
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}

#dbg-panel {
    display: none;
}