html, body {
    margin: 0;
    padding: 0;
}

#grid {
    margin: 0;
    height: 100vh;
}

    #grid > * {
        padding: 0;
    }

#footer {
    height: 2em;
    background: #59166f;
    color: white;
    vertical-align: middle;
    line-height: 2em;
}

#comment {
    width: calc(100% - 10em);
}

#coords {
    width: 10em;
}

.workspace {
    padding-left: 10pt;
}

.tsumego {
    cursor: pointer;
    width: 100%;
}

.tsumego, .tsumego-preview {
    display: inline-block;
}

.workspace pre {
    height: 200pt;
    width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: normal;
    font-family: "Lucida Console";
    display: inline-block;
    border: none;
    vertical-align: top;
}

.tsumego-options {
    display: inline-block;
    border: 1px solid black;
    margin: 5pt;
    padding: 3pt;
}

    .tsumego-options span {
        display: block;
    }


#tutorial-hint {
    position: fixed;
    right: 0;
    top: 0;
}

#semantic-ui-ref {
    position: fixed;
    right: 0;
    bottom: 0;
}

.directory .list {
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}
